.main{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/922/804/907/light-laptop-notebook-lighting-wallpaper-preview.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    padding-top: 4rem;
}