.main{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/922/804/907/light-laptop-notebook-lighting-wallpaper-preview.jpg");
    background-size: cover;
    background-color: white;
    height: max-content;
    display: flex;
    align-items: center;
    color: white;
    gap: 4rem;
    padding: 2rem;
  
}
.CourseAccodian{
    width: 35rem;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container{
    background-color: white;
    color: black;
    height: 32rem;
    width: 40rem;
    margin-top: -4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@media (max-width:1000px){
   html{
    font-size: 10px;
   }
}

@media (max-width:848px){

    .main{
        flex-direction: column;
    }
    .CourseAccodian{
        width: 55rem;
    }

}
@media (max-width:620px){
    .CourseAccodian{
        width: 35rem;
    }
    .container{
        width: 35rem;
    }
}
.video{
    height: 32rem;
    width: 35rem;
}

