*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    list-style: none;
    height: 4rem;
    margin: 0;
    padding: 0;
    /* background-color: #5c5b5b; */
    color: #fff;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100vw;
  }
  .logo{
    position: absolute;
    left: 2%;
    background: transparent;
  }
  .nav_links li {
    margin: 0 10px;
  }
  
  .nav_links li a {
    color : #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown_content {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 150px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown_content {
    display: block;
  }
  
  .dropdown_content li {
    margin: 0;
  }
  
  .dropdown_content li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  @media (max-width:1050px) {
    .nav_links{
        margin: 0;
        padding: 0;
    }
    .nav_links li a{
        padding: 0;
    }
  }
  @media (max-width:700px) {
    .nav_links li a{
        display: none;
    }
  }